@{
    ViewData["Title"] = "Tipos de Pesquisa";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="SimpleSearch">
            <fieldset>
                <legend>Pesquisar por Data de Nascimento</legend>
                <div class="form-group">
                    <label for="minDate" class="col-lg-2 control-label">Data Mínima</label>
                    <div class="col-lg-10">
                        <input type="date" name="minDate" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="maxDate" class="col-lg-2 control-label">Data Máxima</label>
                    <div class="col-lg-10">
                        <input type="date" name="maxDate" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Pesquisar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="GroupingSearch">
            <fieldset>
                <legend>Pesquisar por Faixa Etaria</legend>
               <div class="form-group">
                    <label for="minAge" class="col-lg-2 control-label">Idade Minima</label>
                    <div class="col-lg-10">
                        <input type="number" name="minAge" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="maxAge" class="col-lg-2 control-label">Idade Máxima</label>
                    <div class="col-lg-10">
                        <input type="number" name="maxAge" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Pesquisar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="NameSearch">
            <fieldset>
                <legend>Pesquisar por nome</legend>
               <div class="form-group">
                    <label for="Name" class="col-lg-2 control-label">Nome</label>
                    <div class="col-lg-10">
                        <input type="text" name="Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Pesquisar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>