@{
    ViewData["Title"] = "Apresentação";
}

<h2>@ViewData["Title"]</h2>
<p>Essa AplicaçãoWeb foi criada com o intuito de cumprir os requisitos dos testes 1 e 2 em uma unica aplicação para a GRX soluções</p>